In [1]:
!wget https://datahub.io/machine-learning/adult/r/adult.csv

--2020-11-14 04:45:00--  https://datahub.io/machine-learning/adult/r/adult.csv
Resolving datahub.io (datahub.io)... 104.18.49.253, 172.67.157.38, 104.18.48.253, ...
Connecting to datahub.io (datahub.io)|104.18.49.253|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://pkgstore.datahub.io/machine-learning/adult/adult_csv/data/c8c87915d76926896a93604761460f22/adult_csv.csv [following]
--2020-11-14 04:45:02--  https://pkgstore.datahub.io/machine-learning/adult/adult_csv/data/c8c87915d76926896a93604761460f22/adult_csv.csv
Resolving pkgstore.datahub.io (pkgstore.datahub.io)... 104.18.49.253, 104.18.48.253, 172.67.157.38, ...
Connecting to pkgstore.datahub.io (pkgstore.datahub.io)|104.18.49.253|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5202952 (5.0M) [text/csv]
Saving to: ‘adult.csv’

adult.csv           100%[===================>]   4.96M  --.-KB/s    in 0.1s

2020-11-14 04:45:02 (49.8 MB/s) - ‘adult.csv’ saved [5202952/5202952]

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

adult = pd.read_csv("adult.csv")

print("Married-civ-spouse: "+ str(len([i for i in adult['marital-status'] if i == 'Married-civ-spouse'])))
print("Never-married: "+ str(len([i for i in adult['marital-status'] if i == 'Never-married'])))
print("Divorced: "+ str(len([i for i in adult['marital-status'] if i == 'Divorced'])))
print("Separated: "+ str(len([i for i in adult['marital-status'] if i == 'Separated'])))
print("Widowed: "+ str(len([i for i in adult['marital-status'] if i == 'Widowed'])))
print("Married-spouse-absent: "+ str(len([i for i in adult['marital-status'] if i == 'Married-spouse-absent'])))
print("Married-AF-spouse: "+ str(len([i for i in adult['marital-status'] if i == 'Married-AF-spouse'])))

Married-civ-spouse: 22379
Never-married: 16117
Divorced: 6633
Separated: 1530
Widowed: 1518
Married-spouse-absent: 628
Married-AF-spouse: 37

In [3]:
adult = pd.read_csv("adult.csv")
sets = adult['marital-status'].unique()

def utility(data, sets):
    return data.value_counts()[sets]/1000

In [4]:
def most_common_marital_exponential(x, A, H, sensitivity, epsilon):
    # Calculate the utility for each element of A
    utilities = [H(x, a) for a in A]
    
    # Calculate the probability for each element, based on its utility
    probabilities = [np.exp(epsilon * utility / (2 * sensitivity)) for utility in utilities]
    
    # Normalize the probabilties so they sum to 1
    probabilities = probabilities / np.linalg.norm(probabilities, ord=1)

    # Choose an element from A based on the probabilities
    return np.random.choice(A, 1, p=probabilities)[0]

In [5]:
most_common_marital_exponential(adult['marital-status'], sets, utility, 1, 1)

'Married-civ-spouse'

In [6]:
res = [most_common_marital_exponential(adult['marital-status'], sets, utility, 1, 1) for i in range(1000)]
pd.Series(res).value_counts()

Married-civ-spouse    956
Never-married          43
Divorced                1
dtype: int64